/**RESET**/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ol, ul {
    list-style: none;
}

/**=========================================**/

/**FONT**/

:root {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Zilla Slab Highlight', cursive;
}

h2 {
    font-family: 'Manjari', sans-serif;
}

